<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <a href="/">index</a>  <a href="/login">login</a>
    <br>
    <h1>register</h1>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="input username">
        <br>
        <input type="text" name="password" placeholder="input password">
        <br>
        <button type="submit">register</button>
    </form>
    <h2>{{result}}</h2>
</body>
</html>